*{
margin: 0;
padding: 0;
front-family: 'Open Sans', sans-serif;

}

.contenedor {
border: solid 1px black;
width: 100%;
max-width: 1000px;
margin: auto;
box-sizing: border-box;
overflow: hidden;

}

.cabecera {
 display: flex;
 justify-content: space-between;
 position: relative;
 height: 100px;
  
}

.cabecera img{
 width: 120px;
}

.cabecera_h1 {
 position: absolute;
 top: 40px;
 left: 150px;
}

.cabecera_frase {
 position: absolute;
 top: 70px; 
 left: 235px;
}

.nav{
 margin: 15px 15px 5 5;
 position: unset;
 background: none; 
 height: auto;
 width: unset; 
 border: none;
 
}

.nav_link{
 background: #E74C3C;
 color: black; 
 padding: 7px;
 border-radius: 4px;
}

.nav_link_palote {
 background: #E74C3C;
 color: black;
 padding: 7px;
 border-radius: 4px;
}

.nav_link_Button {
 background:#E74C3C ;
 color: black;
 padding: 7px;
 border-radius: 4px;
}
 
/******************************************/

.galeria {
 width: 100%;
 height: 350px; 
 background:#B3B6B7;
 display: flex;
 justify-content: center;
 align-items: center;
}

.galeria_lienzo { 
 width: 600px;
 height: 350px;
 overflow: hidden;
}

.galeria_contenedor {
 display: flex;
 width: 7000px;
 height: 50px;
 transition: transform 1s ease-in;
 will-change: transform;
}

.elemento1:checked ~ .galeria_contenedor {
 transform: translateX(0px);
}

.elemento2:checked ~ .galeria_contenedor {
 transform: translateX(0px);
}
 
 .elemento3:checked ~ .galeria_contenedor {
 transform: translateX(0px);
}

.elemento3:checked ~ .galeria_contenedor {
 transform: translateX(-1200px);
}
 
.controles {
 widht: 100%;
 height: 30px;
 display: flex;
 justify-content: center; 
 position: relative; 
 top: −26px;
}
 
label {
 margin: 5px;
 width: 20px;
 height: 20px;
 border-radius: 100px;
 background: white; 
 display: block;
 cursor: pointer;
 
 
