* {
  box-sizing: border-box;
}

body {
  margin:0;
  font-familiy: sans-serif;
  background: #F5B7B1;
}
 
.contenedor {
  color:#fff;
  text-align: center;
}

.form-municipio {
  width: 60%;
  max-width: 500px;
  margin: auto;
  background:  #F5B7B1;
  border-radius: 7px;
}








