*{
margin: 0;
padding: 0;
front-family: 'Open Sans', sans-serif;

}

.contenedor {
border: solid 1px black;
width: 100%;
max-width: 1000px;
margin: auto;
box-sizing: border-box;
overflow: hidden;

}

.cabecera {
 display: flex;
 justify-content: space-between;
 position: relative;
 height: 120px;
  
}

.cabecera img{
 width: 130px;
}

.cabecera_h1 {
 position: absolute;
 top: 40px;
 left: 150px;
}

.cabecera_frase {
 position: absolute;
 top: 70px; 
 left: 235px;
}

.nav{
 margin: 15px 15px 5 5;
 position: unset;
 background: none; 
 height: auto;
 width: unset; 
 border: none;
 
}
 
 
 
 
 
 
 
 
